@model WebApp.DAL.Entities.User

<h2>Детали пользователя</h2>
<div class="card">
    <div class="card-body">
        <p><strong>ФИО:</strong> @Model.FullName</p>
        <p><strong>Дата рождения:</strong> @Model.BirthDate.ToShortDateString()</p>
    </div>
</div>
<a href="/User/Index" class="btn btn-secondary">Назад</a>